.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sobre-mi{
  max-width: 800px;
  margin: 60px auto;
  text-align: center;
  padding: 20px;
}

.sobre-mi h2{
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 15px;
  color: #0d6efd;
}

.sobre-mi p{
  font-size: 1.5rem;
  line-height: 1.6;
  color: #555;
}

/* css tarjetas */

.mi-card {
  border: none;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.mi-card:hover{
  transform: translateY(-8px);
  box-shadow: 0 12px 28px rgba(0,0,0,0.25);

}

.mi-card img{
  height: 200px;
  object-fit: cover;
}

.mi-card .card-title{
  font-weight: 700;
  font-size: 1.4rem;
  color: #0d6efd;
}

.mi-card .card-text{
  color: #555;
  line-height: 1.6;
}

.mi-card .btn{
  border-radius: 50px;
  padding: 10px 20px;
  transition: 0.25s;
}

.mi-card .btn:hover{
  transform: scale(1.05);
}